@media only screen and (max-width: 768px) {
  #popular{
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  footer,nav{
    display: none;
  }

}

*,h1,h2,h3,h4,h5,h6,pre,button{
  font-family: 'Source Code Pro', monospace;
}
